# Obviously, .env is not a good idea to commit to the repo
.env

#IDEs
.vscode/
.cursor/
.cursorrules/
.cursorignore/
.idea/
.claude/
.DS_Store/

#Python
__pycache__/
.venv/
venv/
.ruff_cache/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

#Backend
logs/

#UI
ui/node_modules/
ui/.react-router/
