fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0
asyncpg==0.29.0
sqlalchemy[asyncio]==2.0.23
geoalchemy2==0.14.2
minio==7.2.0
python-multipart
boto3
pypdf2

scikit-learn
psycopg2-binary
pandas
numpy
sqlalchemy
geopandas
prophet
openpyxl
ortools

geopy
openai